name: service_app
description: App Flutter para cadastro de serviços (ordem de serviço)
version: 1.0.0+1
publish_to: 'none'
environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  sqflite: ^2.2.8+4
  path_provider: ^2.0.15
  path: ^1.8.3
  intl: ^0.18.0
  google_fonts: ^4.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
